<form action="" method="post">
  <h1>Edit manager</h1>
  Email:
  <input type="email" name="email" required value="{{editManager.email}}" />
  <br /><br />
  Password:
  <input
    type="password"
    name="password"
    required
    value="{{editManager.password}}"
  />
  <br /><br />
  Name:
  <input type="text" name="name" required value="{{editManager.name}}" />
  <br /><br />
  
  <input class="btn" type="submit" value="Edit" />
</form>