<html>
  <head>
    <title>Manager account</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      table, th, td { border: 1px solid black; border-collapse: collapse; }
    </style>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      {{#each data}}
        <tr>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>
            <form action="/admin/editManager/{{_id}}">
              <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            <form action="/admin/deleteManager/{{_id}}" >
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </table>
  </body>
</html>