
<div class="pPendingBG">
      <div class="pPendingContainer">
        {{#each post}}
          <div class="pPendingItems">
            <div class="pPendingItemsBox1">
              <div class="pPendingItemsBox1n1">
                <h1>{{description}}</h1>
                <h5>By: {{email}}</h5>
              </div>
              <div class="pPendingItemsBox1n2">
                {{dateCreate}}
              </div>
            </div>
            <div class="pPendingContentFull">
              {{{body}}}
            </div>
            
          </div>
        {{/each}}
      </div>