<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Admin</title>
  </head>
  <header class="headercss">
    <div class="headercssbox1">
      {{#if email}}
        <a class="pagelink" href="/admin/studentAccount">Student account</a>
        <a class="pagelink" href="/admin/managerAccount">Manager account</a>
        <a class="pagelink" href="/admin/coordinatorAccount">Coordinator account</a>
        <a class="pagelink" href="/admin/studentPending">Student pending</a>
        <a class="pagelink" href="/admin/register-role">Register role</a>
      {{/if}}
    </div>
    <h3>{{email}}</h3>
    <div class="headercssbox2">
      {{#if email}}
        <a class="logoutbtn" href="/auth/logout">Log out</a>
      {{else}}
        <a class="loginbtn" href="/auth/login">Log in</a>
      {{/if}}
    </div>
  </header>
  <body>
    {{{body}}}
  </body>
</html>