<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinator</title>
</head>
<header class="headercss">
    <div class="headercssbox1">
      {{#if coordinator}}
        <a href="/coordinator/postPending"><h1 class="logo">Logo</h1></a>
      {{/if}}
      
      {{#if coordinator}}
        <a class="pagelink" href="/coordinator/postPending">Post pending</a>
        <a class="pagelink" href="/coordinator/reportPending">Report pending</a>
        <a class="pagelink" href="/coordinator/postApproved">Post approved</a>
        <a class="pagelink" href="/coordinator/reportApproved">Report approved</a>
      {{/if}}
    </div>
    <div class="icon-label-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              />
            </svg>
    <h3>{{coordinator}}</h3>
    </div>
    <div class="headercssbox2">

      {{#if coordinator}}
        <a class="logoutbtn" href="/auth/logout">Log out</a>
      {{else}}
        <a class="loginbtn" href="/auth/login">Log in</a>
      {{/if}}
    </div>
  </header>
  <body>
    {{{body}}}
  </body>
</html>