<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinator</title>
</head>
<header class="headercss">
    <div class="headercssbox1">
      {{#if coordinator}}
        <a href="/coordinator"><h1 class="logo">Logo</h1></a>
      {{/if}}
      
      {{#if coordinator}}
        <a class="pagelink" href="/coordinator/postPending">Post pending</a>
        <a class="pagelink" href="/coordinator/reportPending">Report pending</a>
        <a class="pagelink" href="/coordinator/postApproved">Post approved</a>
        <a class="pagelink" href="/coordinator/reportApproved">Report approved</a>
      {{/if}}
    </div>
    <h3>{{coordinator}}</h3>
    <div class="headercssbox2">

      {{#if coordinator}}
        <a class="logoutbtn" href="/auth/logout">Log out</a>
      {{else}}
        <a class="loginbtn" href="/auth/login">Log in</a>
      {{/if}}
    </div>
  </header>
  <body>
    {{{body}}}
  </body>
</html>