<li class="liposts">
  <div class="post">
    <div class="titlepost">
      <h1 class="namepost">Title</h1>
      <h3 class="datepost"> dd/mm/yyyy</h3>
    </div>
    <div class="authorpost">
      <h3>Author</h3>
    </div>
    <p class="descpost">
      Nature Benefit Collaboration Spokespersons Teaser #TeyvatDiscovery
      #Genshin4Good #GenshinImpact Travelers, explore Teyvat and discover nature
      side-by-side with five companions. Can you guess who they are? 50
      Travelers who leave their guesses by sharing this post with the hashtags
      #TeyvatDiscovery and #Genshin4Good will be randomly chosen to receive a
      merchandise prize! View Details:
      https://genshin.hoyoverse.com/en/news/detail/122763
    </p>
  </div>
  <div class="feedback-action">
    <button class="action-btn edit">Edit</button>
    <button class="action-btn del">Delete</button>
  </div>
</li>

<li class="liposts">
  <div class="post">
    <div class="titlepost">
      <h1 class="namepost">Title</h1>
      <h3 class="datepost"> dd/mm/yyyy</h3>
    </div>
    <div class="authorpost">
      <h3>Author</h3>
    </div>
    <p class="descpost">
      Nature Benefit Collaboration Spokespersons Teaser #TeyvatDiscovery
      #Genshin4Good #GenshinImpact Travelers, explore Teyvat and discover nature
      side-by-side with five companions. Can you guess who they are? 50
      Travelers who leave their guesses by sharing this post with the hashtags
      #TeyvatDiscovery and #Genshin4Good will be randomly chosen to receive a
      merchandise prize! View Details:
      https://genshin.hoyoverse.com/en/news/detail/122763
    </p>
  </div>
  <div class="feedback-action">
    <button class="action-btn edit">Edit</button>
    <button class="action-btn del">Delete</button>
  </div>
</li>

<li class="liposts">
  <div class="post">
    <div class="titlepost">
      <h1 class="namepost">Title</h1>
      <h3 class="datepost"> dd/mm/yyyy</h3>
    </div>
    <div class="authorpost">
      <h3>Author</h3>
    </div>
    <p class="descpost">
      Nature Benefit Collaboration Spokespersons Teaser #TeyvatDiscovery
      #Genshin4Good #GenshinImpact Travelers, explore Teyvat and discover nature
      side-by-side with five companions. Can you guess who they are? 50
      Travelers who leave their guesses by sharing this post with the hashtags
      #TeyvatDiscovery and #Genshin4Good will be randomly chosen to receive a
      merchandise prize! View Details:
      https://genshin.hoyoverse.com/en/news/detail/122763
    </p>
  </div>
  <div class="feedback-action">
    <button class="action-btn edit">Edit</button>
    <button class="action-btn del">Delete</button>
  </div>
</li>