<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager</title>
  </head>
  <header class="headercss">
    <div class="headercssbox1">
      {{#if manager}}
        <a href="/manager"><h1 class="logo">Logo</h1></a>
      {{/if}}

      {{#if manager}}
        <a class="pagelink" href="/manager/post">Post</a>
      {{/if}}
    </div>
    <h3>{{manager}}</h3>
    <div class="headercssbox2">

      {{#if manager}}
        <a class="logoutbtn" href="/auth/logout">LogOut</a>
      {{else}}
        <a class="loginbtn" href="/auth/login">LogIn</a>
      {{/if}}
    </div>
  </header>
  <body>
    {{{body}}}
  </body>
</html>