<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report page</title>
</head>
<body>
    <header class="headercss">
        <div class="headercssbox1">
            <h1 class="logo">Logo</h1>
            <a class="pagelink" href="" >Post</a>
            <a class="pagelink" href="" >Feedbacks</a>
        </div>
        <div class="headercssbox2">
            <a class="loginbtn" href="login">
                Log in
            </a>
        </div>
    </header>

    
</body>
</html>