<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report page</title>
</head>
<body>
    <header class="headercss">
        <div class="headercssbox1">
            <h1 class="logo">Logo</h1>
            <a class="pagelink" href="" >Post</a>
            <a class="pagelink" href="" >Feedbacks</a>
        </div>
        <div class="headercssbox2">
            <a class="loginbtn" href="login">
                Log in
            </a>
        </div>
    </header>


 <div class="ulreports-container">

  <!-- Left table -->
  <ul class="ulreports1">
    <li class="post">
      <div class="titlepost">
        <h1 class="namepost">Title</h1>
        <h3 class="datepost"> dd/mm/yyyy</h3>
      </div>
      <div class="authorpost">
        <h3>Author</h3>
      </div>
      <img class="imgpage" src="images/GIHdZPia4AAR3RF.jpg" alt="" />
      <p class="descpost">
        Nature Benefit Collaboration Spokespersons Teaser #TeyvatDiscovery
        #Genshin4Good #GenshinImpact Travelers, explore Teyvat and discover
        nature side-by-side with five companions. Can you guess who they
        are? 50 Travelers who leave their guesses by sharing this post with
        the hashtags #TeyvatDiscovery and #Genshin4Good will be randomly
        chosen to receive a merchandise prize! View Details:
        <a href="https://genshin.hoyoverse.com/en/news/detail/122763">https://genshin.hoyoverse.com/en/news/detail/122763</a>
      </p>
    </li>
  </ul>

  <!-- Right table -->
  <ul class="ulreports2">
    <li class="post">
      <div class="reportbox">
      <textarea class="textbox"></textarea>
      <div class="button-container">
        <button class="send-button">Send</button>
        <button class="cancel-button">Cancel</button>
      </div>
    </div>
    </li>
  </ul>

</div>
</body>
</html>