.bodylogin {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  /*background: linear-gradient(90deg, #ffff 66%, #9300ff 34%);*/
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

a {
  color: #00b7ff;
}

.login-background {
  display: flex;
  justify-content: right;
  margin-right: 300px;
  margin-top: 250px;
}

.login-form-parent {
  display: flex;
}
/* .login-form-parent > img {
  margin-top: 15px;
  margin-right: 300px;
  height: 650px;
} */
h2 {
  margin-left: 20px;
}
input::placeholder {
  font: 1rem/3 sans-serif;
}


.btn-login {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn-login > button {
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px;
  width: 200px;
  border: solid 0px;
  background-color: #00ffcd;
  height: 40px;
}
.sign-up > h5 {
  margin-left: 20px;
  font-size: 18;
  font-weight: 300;
}
.sign-up > a {
  margin-left: 20px;
}



/*new login*/
.imgLoginBg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);

}
.blurLoginBg{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.244);
}
.loginContainer{
  width: max-content;
  height: fit-content;
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  border:#000000 solid 1px;
}

.loginImgLeft{
  background-color: #ffffff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: start;
  align-items: end;
}
.loginImgLeftItem{
  height: 360px;
  border-bottom-left-radius: 25px;
}

.loginform {
  background-color: antiquewhite;
  padding: 10px;
  height: 100%;
  width: 400px;
  /*border:#000000 solid 1px;*/
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display:flex;
  flex-direction: column;
}

.loginBtn {
  width: 320px;
  height: 40px;
  margin: 30px 0px 30px 0px;
  font-size: 20px;
  font-family: cursive;
  margin-bottom: 10px;
  text-decoration: none;

}

.loginBtn > button {
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px;
  width: 320px;
  border: solid 0px;
  height: 40px;
  background-color: rgb(95, 95, 95);
  color: #ffffff;
}
.loginBtn > button:hover {
  color: #ffffff;
  background-color: rgb(26, 26, 26);
  transition: 0.5s;
}
.emailInput > input {
  padding: 10px;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: black solid 1px;
}
.passInput > input {
  padding: 10px;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: black solid 1px;
}
.emailInput {
  margin-top: 10px;
  margin-left: 20px;
}
.passInput {
  margin-left: 20px;
  margin-top: 10px;
}
.signUp{
  margin-left: 20px;
  font-size: 14;
  font-weight:normal;
}
.signUp > a{
  text-decoration: none;
}
.loginTitle{
  margin-left: 20px;
}
.registerSpec{
  margin-top: 10px;
  margin-left: 20px;
}

.icon-label-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;
}



/*end/






/* homepage css */
.deadline {
  max-width: 350px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  display: block;
}
.headercss {
  width: 100%;
  height: 100px;
  background-color: #ffff;
  display: flex;
  justify-content: start;
  align-items: center;
}
.headercssbox1 {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.headercssbox2 {
  width: 10%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo {
  display: inline-flex;
  align-items: center;
  width: max-content;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 60px;
  font-family: "Brush Script MT", cursive;
}
.pagelink {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: Verdana, sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}
.pagelink:hover {
  color: #9300ff;
  transition: 0.5s;
}
.loginbtn {
  display: inline-flex;
  justify-content: end;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: Verdana, sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}
.loginbtn:hover {
  color: #9300ff;
  transition: 0.5s;
}
body {
  width: 100%;
  height: 100%;
  /* background-color: #9300ff; */
  border: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

  .specBox{
    padding: 3px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-items: start;
    align-items: center;
  }
  .specializetitle {
    height: fit-content;
    margin-left: 20px;
    margin-right: 5px;
    padding: 13px 5px 5px 5px;
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
    text-decoration: none;
    text-align: center;
  }
  .specializelink {
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 15px;
    font-size: 20px;
    font-family: cursive;
    border-radius: 300px;
    text-decoration: none;
    color: #ffffff;
  }
  .specializelink:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    text-decoration: none;
  }
  
 
  .feedbackpost {
    margin: 30px 0px 30px 0px;
    padding: 6px 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.30);
    color: #ffffff;
    border-radius: 20px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .feedbackpost:hover {
    color: black;
    background-color: antiquewhite;
    transition: 0.5s;
  }
  .feedbackbox {
    padding-bottom: 0px;
  }
/*end*/














/*old css
.specializebox {
  width: 70%;
  border: 1px;
  border-radius: 300px;
  height: min-content;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #9300ff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.specializebox2 {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ulposts {
  list-style-type: none;
  padding: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
.liposts {
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: max-content;
  display: flex;
  justify-content: center;
}
.post {
  width: 50%;
  height: min-content;
  background-color: #9100ff;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
}
.imgpage {
  width: 95%;
  height: max-content;
  margin: 0px 20px 20px 20px;

  object-fit: cover;
}
.titlepost {
  margin: 0px 20px 0px 20px;
  display: flex;
}
.namepost {
  width: 100%;
  height: min-content;
  display: flex;
  justify-self: start;
}
.datepost {
  width: max-content;
  display: flex;
  justify-self: end;
}
.authorpost {
  margin: 0px 20px 30px 20px;
}
.descpost {
  margin: 0px 20px 30px 20px;
}
*/















/* report pages */

.ulreports-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
  flex-direction: row-reverse;
}

.ulreports1,
.ulreports2 {
  list-style-type: none;
  padding: 10px; 
  margin: 0; 
  width: 49%; 
  border: 2px solid #ddd; 
  border-radius: 10px; 
  background-color: transparent; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: none;
}
.ulreports2 .post {
  margin-left: 380px;
  margin-top: 70px;
}
.ulreports1 {
  margin-right: 10px; 
}

.textbox {
  width: 90%;
  height: 200px; 
  margin: 20px; 
  resize: none; 
}

.reportbox {
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px; 
}
.send-button,
.cancel-button {
  padding: 10px 20px; 
  font-size: 16px;
  font-family: cursive;
  background-color: #00ffcd;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.send-button:hover,
.cancel-button:hover {
  color: #00ffcd;
  background-color: black;
  transition: 0.5s;
}

.cancel-button {
  background-color: #ff6666;
}

.cancel-button:hover {
  color: #ff6666;
}
.feedback-action {
  display: flex;
  align-items: center;
}
.action-btn {
  margin: 30px 20px 30px 20px;
  padding: 6px 20px;
  font-size: 20px;
  font-family: cursive;
  border-radius: 10px;
  margin-bottom: 50px;
  text-decoration: none;
}
.action-btn.edit {
  background-color: #04b3ed;
  color: black;
}
.action-btn.del {
  background-color: #ed0404;
  color: black;
}
.action-btn:hover {
  color: #00ffcd;
  background-color: black;
  transition: 0.5s;
}
/* end report pages */














html, body {
  background-color: #f4f4f4;
  height: screen;
}




















/*coordinator*/
.rpPendingBGfix{
  display: flex;
  flex-direction: column;
}
.rpPendingBG {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  height: max-content;
  align-items: start;
  margin-left: 0px;

}
.rpPendingContainer{
  padding: 0px 0px 0px 0px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: max-content;
  width: 90%;
}
.rpPendingItems {
  width: 100%;
  height: max-content;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.rpPendingSourch {
  display: flex;
  gap: 20px
}
.rpPendingItemsBox1{
  display: flex;
  justify-items: auto;
}
.rpPendingItemsBox1n1{
  width: 80%;
}
.rpPendingItemsBox1n2{
  width: 20%;
}
.rpPendingContent {
  margin: 10px 0px;
}

.rpPendingItemsBox2{
  display: flex;
  justify-items: auto;
  gap: 20px
}
.rpPendingComment {
  padding: 10px;
  height: 70px;
  width: 85%;
  border-radius: 15px;
}
.rpPendingButton1 {
  height: 70px;
  width: 11%;
  border-radius: 15px;
}
.rpPendingItemsBox3{
  display: flex;
  gap: 20px;
  margin: 10px 0px 0px 0px;
}
.rpPendingRead{
  margin: 0px 0px 20px 0px;
}




.pPendingContainer {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  height: max-content;
  align-items: start;
  flex-direction: column;
}
.pPendingBG {
  padding: 0px 0px 0px 0px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: start;
  height: max-content;
}

.pPendingItems {
  width: 60%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
.pPendingItemsBox1{
  display: flex;
  justify-items: auto;
}
.pPendingItemsBox1n1{
  width: 80%;
}

.pPendingContent {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: max-content;
  margin: 10px 0px 10px 0px;
}
.pPendingContentFull {
  height: max-content;
  margin: 10px 0px 10px 0px;
}
.pPendingItemsBox3 {
  height: max-content;
  margin: 0px 0px 30px 0px; 
}

.pPendingItemsBox2 {
  margin-top: 30px;
  height: max-content;
  display: flex;
  justify-items: auto;
  gap: 8%;
}
.pPendingItemsForm1 {
  width: 46%;
  padding: 10px;
}
.pPendingItemsButton1 {
  width: 100%;
  padding: 10px;
}


/*end*/






/*home css*/
.pApprovedBG{
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  padding:20px;
  display: flex;
  justify-content: center;
}
.pApprovedTable{
  border-radius: 0px ;
  border: solid 1px;
  border-collapse: collapse;
  border-color: rgba(0, 0, 0, 0.30);
  background-color: rgba(255, 255, 255, 0.8);
  height: max-content;
}
.pApprovedTable, th{
  text-align: center;
  border-radius: 0px ;
  border: solid 1px;
  border-collapse: collapse;
  border-color: rgba(0, 0, 0, 0.30);
  padding: 10px 20px;
}
.pApprovedTable, td{
  border-radius: 0px ;
  border: solid 1px;
  border-collapse: collapse;
  border-color: rgba(0, 0, 0, 0.30);
  padding: 20px;
}
.pApprovedButton{
  width: 100px;
}
.pApprovedBox1{
  display:  flex;
  flex-direction: column;
  gap: 10px;
}

.headercss {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  z-index: 1000; 
}

.headercss h1.logo {
  color: #007bff; 
}

.headercss a.pagelink, .headercss a.logoutbtn, .headercss a.loginbtn {
  margin-left: 15px;
  color: #333; 
  padding: 8px 15px;
  border-radius: 4px; 
  text-transform: uppercase; 
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s;
}

.headercss a.logoutbtn {
  background-color: #e64848; 
  color: #fff;
  height: max-content;
  width: max-content;
}

.headercss a.logoutbtn:hover {
  background-color: #d51f1f; 
}

.headercss a.loginbtn {
  border: 2px solid #e64848;
  height: max-content;
  width: max-content;
}
.headercss a.loginbtn:hover {
  background-color: #e64848; 
  color: white;
}

.headercss h3 {
  margin: 0;
  font-size: 16px; 
}

.headercss h1.logo:hover {
  opacity: 0.8; 
}


@media screen and (max-width: 768px) {
  .headercss {
      padding: 10px; 
  }
  .headercss .headercssbox1, .headercss .headercssbox2 {
      flex-direction: column; 
      align-items: flex-start; 
  }
  .headercss a.pagelink, .headercss a.logoutbtn, .headercss a.loginbtn {
      margin-left: 0;
      margin-top: 5px; 
  }
}
.deadlinebox{
  width: auto;
}
.fixbtnbox1 {
  margin-top: 20px;
  width: 100%;
}