<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post create</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 20px;
        }
        #postForm {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        #postForm input[type=text] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        #postForm button {
            background-color: #007bff;
            border-color: #007bff;
        }
        #postForm button:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        .text-success {
            margin-bottom: 20px;
        }
        .ck-editor__editable {
            min-height: 400px;
        }
        #postButton{
            width: 49%;
        }
        #cancelButton{
            margin-left: 2%;
            width: 49%;
        }
        #actionButton{
            margin-top: 15px;
            display: flex;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-success">Submit a new post</h1>

            <form id="postForm" action="/student/upload" method="post" enctype="multipart/form-data">
                <input id="inputDes" type="text" name="description" class="form-control mb-3" placeholder="Description..." required disabled> 
                
                <div class="mb-3">
                    <label for="docxFile" class="form-label">File Docx</label>
                    <input type="file" name="docs" id="docxFile" class="form-control-file" accept=".doc,.docx" multiple required disabled>
                </div>
                <div class="mb-3">
                    <label for="imageFile" class="form-label">File Image (optional)</label>
                    <input type="file" name="images" id="imageFile" class="form-control-file" accept="image/*" multiple disabled>
                </div>
                {{#if boolean}}
                <h6 style="color: green;">{{message}}</h6>
                {{else}}
                <h6 style="color: red;">{{message}}</h6>
                {{/if}}
                {{!-- Button group --}}
                <div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    {{#if boolean}}
                    <button id="postButton" type="button" class="btn btn-primary">Post</button>
                    {{/if}}
                </div>
                <div class="btn-group" role="group" aria-label="Second group">
                    <button id="cancelButton" type="button" class="btn btn-danger" onclick="window.location.href='/student';">Cancel</button>
                </div>
            </div>
            {{#if boolean}}
                {{!-- Modal group --}}
            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirmation Box</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <h3>The student need to accept the rules before <strong>POST</strong>:</h3>
                        <li><strong>No Violent Content:</strong> Posts containing violence, threats, or any form of physical harm are strictly prohibited.</li>
                        <li><strong>No Sexual Content:</strong> Any posts containing explicit sexual content, nudity, or sexually suggestive material are not allowed.</li>
                        <li><strong>Respect Others:</strong> Respect the opinions, beliefs, and identities of fellow students. Harassment, discrimination, or bullying of any kind will not be tolerated.</li>
                        <li><strong>No Hate Speech:</strong> Posts that promote hatred or intolerance towards individuals or groups based on race, ethnicity, religion, gender, sexual orientation, disability, or any other characteristic are not permitted.</li>
                        <li><strong>No Illegal Activities:</strong> Discussion or promotion of illegal activities such as drug use, underage drinking, or any other unlawful behavior is prohibited.</li>
                        <li><strong>Keep it Civil:</strong> Engage in constructive and respectful dialogue. Avoid inflammatory language, personal attacks, or any behavior that disrupts the learning environment.</li>
                        <li><strong>Respect Privacy:</strong> Do not share personal information about yourself or others without permission. This includes contact information, addresses, or any other sensitive details.</li>
                        <li><strong>Stay On Topic:</strong> Keep discussions relevant to the purpose of the platform or forum. Off-topic posts may be removed to maintain focus and productivity.</li>
                        <li><strong>No Spamming:</strong> Avoid excessive posting of repetitive or irrelevant content. Spamming, including advertisements or promotional material, is not allowed.</li>
                        <li><strong>Follow Community Guidelines:</strong> Adhere to the specific guidelines outlined by the platform or forum. Failure to comply may result in disciplinary action, including removal of posts or suspension of account privileges.</li>
                        <br>
                        <br>
                        <div class="form-check ">
                        <input class="form-check-input" type="checkbox" id="agreeCheckbox">
                        <label style="color: red;" class="form-check-label" for="agreeCheckbox">
                        I agree with terms and conditions
                        </label>
                    </div>
                  </div>
                  
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="agreeButton" disabled>Agree</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div> 
       </form>
    </div>     
    <script>
            document.getElementById('agreeCheckbox').addEventListener('change', function () {
              var agreeButton = document.getElementById('agreeButton');
              agreeButton.disabled = !this.checked;
            });
    </script>

    <script>
        document.getElementById('postButton').addEventListener('click', function() {
                if (document.getElementById('postForm').checkValidity()) {
                    $('#confirmationModal').modal('show');
                } else {
                    document.getElementById('inputDes').reportValidity();
                    document.getElementById('docxFile').reportValidity();
                }
            }); 
    </script>
    {{#if boolean}}
    <script>
        document.getElementById('docxFile').disabled = false
        document.getElementById('imageFile').disabled = false
        document.getElementById('inputDes').disabled = false
    </script>
    {{/if}}
</body>
</html>